:root{
    --color-background:#2b343e;  
    --color-background-button:#2980b9;
    --color-text-dark:#2c3e50;
    --color-text-light:#ecf0f1;
    --color-text-title:#1abc9c;
    --color-text-success:#2ecc71;
    --color-text-error:#c0392b;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--color-text-light);
}

html,body{
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
}

h1{
    color: var(--color-text-title);
}

button{
    padding: 10px 15px;
    background-color: var(--color-background-button);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s opacity;
}

button:hover{
    opacity: 0.8;
}

button:disabled{
    pointer-events: none;
    opacity: 0.2;
}
